@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600&display=swap');


*,
*::before,
*::after{
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

.App{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  
  
}

* {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  display: none;
}




